<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bayesian NN</title>
    <style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      /* height: 300px; Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    table, th, td {
      border: 0.5px solid black;
    }
    </style>
</head>

<body>
    <h1 style="background-color: lightcyan;">Y6AEN-Bayesian machine learning platform</a></h1>
    <a href="/">[Supervised learning]</a> | <a href="/reinforce">Reinforcement learning >></a>
    <div class="row">
    <div class="column" style="background-color: lightgoldenrodyellow;">
        <form action="/" method="post">
            <h3>--Dateset specifications--</h3>
            Data category: <select name="dcat">{% for c in options[0] %}<option value="{{c}}">{{c}}</option>{% endfor %}</select>
            Learning type: <select name="lcat">{% for c in  options[1] %}<option value="{{c}}">{{c}}</option>{% endfor %}</select>,
            Loss function: <select name="loss">{% for l in options[2] %}<option value="{{l}}">{{l}}</option>{% endfor %}</select>,
            Training percentage (default 10%): <input type="number" name="tfrac" min="1" max="100" step="1">% <br>
            <h3>--Basic neural network model information--</h3>
            Upload model (.json): static/models/<input type="file" name="nnjson">; Alternatively: <br>
            Name the model to be created: <input type="text" name="mname">; 
            Network category: <select name="nncat">{% for c in  options[3] %}<option value="{{c}}">{{c}}</option>{% endfor %}</select>,
            Input dimensions: <input type="text" name="ipd">; Output dimension: <input type="number" name="opd" min="1" step="1"> <br>
            <a href="/">Reset data and model</a> | <input type="submit" name="f1" value="continue>>"> 
        </form>
        {{inputs}}
        <h3>--Training information--</h3>
        <form action="/" method="post">
        Upload dataset folder: static/datasets/<select name="dfolder">{% for d in options[4] %}<option value="{{d}}">{{d}}</option>{% endfor %}</select><br>
        upload dataset file (.csv or .txt): static/datasets/<input type="file" name="dtable">
        Batch size: <input type="number" min="1" name="batch">; 
        {% if category == "Convolutional" %}
            kernel size: <input type="number" name="kernel" min="1" max="999">; filters list (use comma ',' to separate): <br><textarea name="filters" cols="70" rows="1"></textarea> <br>
        {% endif %}
        hidden dimensions of fully connected part (use comma ',' to separate): <br><textarea name="hidden" cols="70" rows="1"></textarea> <br>all activation functions (<b>sg</b>--sigmoid, <b>r</b>--relu, <b>t</b>--tanh, <b>sm</b>--softmax): <br><textarea name="activations" cols="70" rows="1"></textarea>
        Optimizer:  <select name="optim">{% for c in options[5] %}<option value="{{c}}">{{c}}</option>{% endfor %}</select> <br>
        Hyperparameters: <input type="text" name="hyp">
        Iterations: <input type="number" name="ite" min="1" step="1">
        <input type="submit" name="f2" value="Register model and start training">
        </form>
    </div>
    <div class="column">
      {% if graph %}
      <img src="static/drawnn.png" alt="graph">
      {% endif %}
    </div>
    </div>
</body>
