<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bayesian NN: Reinforcement</title>
    <style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      /* height: 300px; Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    table, th, td {
      border: 0.5px solid black;
    }
    </style>
</head>

<body>
    <h1 style="background-color: lightcyan;">Y6AEN-Bayesian machine learning platform</h1>
    <a href="/"><< Supervised learning</a> | <a href="/reinforce"><b style="background-color: orange;">[Reinforcement learning]</b></a>
    <a href="/settings"><button># User preferences</button> </a>
    <div class="row">
      <div class="column" style="background-color: skyblue;">
        <h3>Environment and agent creation <a href="/reinforce"><button>Reset all</button></a></h3>
        <form action="/reinforce" method="post">
          Autofill from saved sessions: <select name="session">{% for c in options["sessions"] %}
            {%if c%}<option value="{{c[0]}}"><b>{{c[0]}}</b> ({{c[1]}}): {{c[2]}}</option>{%else%}<option value=""></option>{%endif%}{% endfor %}</select>
          <input type="submit" value="Continue>>">
        </form><form action="/reinforce" method="post">
          Name the current session: <input type="text" name="sname">; Gym environment: <input type="text" name="envname" value="{{info.form["envname"]}}">; 
          Descriptions: <textarea name="sdesc" cols="70" rows="1"></textarea><br> 
          <b>--Learning specifications--</b> <br>
          Time horizon: <input type="number" name="hor" value="{{info.form["hor"]}}" min="1" max="999">; Dynamic model epochs: <input type="number" name="dynep" value="{{info.form["dynep"]}}" min="1" max="9999">
          Number of particles: <input type="number" name="npar" value="{{info.form["npar"]}}" min="1" max="999">; Discount factor: <input type="number" name="disc" value="{{info.form["disc"]}}" min="0.001" max="1.000" step="0.001">;
          Learn epochs: <input type="number" name="lep" value="{{info.form["lep"]}}" min="1" max="999">; Reward function: <select name="reward">{% for r in options["reward"] %}<option value="{{r}}">{{r}}</option>{% endfor %}</select><br>
          <b>--Policy model--</b> <br>
          Hyperparameters: <textarea name="phyp" cols="70" rows="1">{{info.form["phyp"]}}</textarea><br>
          <b>Upload .json model</b> (use current <b>{{info.form["pnnjson"]}}</b>) <input type="checkbox" name="pnnjsons" value="{{info.form["pnnjson"]}}">); <input type="file" name="pnnjson"> | Or create manually: <br>
          Model name: <input type="text" name="pmname" value="{{info.form["pmname"]}}">; <br>
          (Convolutional neural networks specific -- kernel size: <input type="number" name="pkernel" min="1" max="999" value="{{info.form["pkernel"]}}">; 
          filters list: <br><textarea name="pfilters" cols="70" rows="1">{{info.form["pfilters"]}}</textarea>) <br>
          (All neural networks) <br>
          dimensions of densely connected layers: <br><textarea name="phidden" cols="70" rows="1">{{info.form["phidden"]}}</textarea> <br>
          all activation functions (<b>sg</b>--sigmoid, <b>r</b>--relu, <b>t</b>--tanh, <b>sm</b>--softmax): <br><textarea name="pactivations" cols="70" rows="1">{{info.form["pactivations"]}}</textarea><br>
        <b>--Dynamic model (using bayesian inference)--</b> <br>
          <b>Upload .json model</b> (use current: <b>{{info.form["dnnjson"]}}</b> </b><input type="checkbox" name="dnnjsons" value="{{info.form["dnnjson"]}}">); <input type="file" name="dnnjson"> | Or create manually:<br>
          Model name: <input type="text" name="dmname" value="{{info.form["dmname"]}}">; <br>
          (Convolutional neural networks specific -- kernel size: <input type="number" name="dkernel" min="1" max="999" value="{{info.form["dkernel"]}}">; 
          filters list: <br><textarea name="dfilters" cols="70" rows="1">{{info.form["dfilters"]}}</textarea>) <br>
          (All neural networks) <br>
          dimensions of densely connected layers: <br><textarea name="dhidden" cols="70" rows="1">{{info.form["dhidden"]}}</textarea> <br>
          all activation functions (<b>sg</b>--sigmoid, <b>r</b>--relu, <b>t</b>--tanh, <b>sm</b>--softmax): <br><textarea name="dactivations" cols="70" rows="1">{{info.form["dactivations"]}}</textarea><br>
          <b>--Optimizer for dynamic model--</b> Select optimizer class: <select name="optim">{% for c in options["optim"] %}<option value="{{c}}">{{c}}</option>{% endfor %}</select> <br>
          start model (for SWAG): <input type="radio" name="mstart"> same as dynamic model | or <input type="file" name="startjson"> <br>
          prior 1: Gaussian (mean: <input type="number" name="pri1m" value=" value="{{info.form["pri1m"]}}" min="-999", max="999" step="0.01">, 
            standard deviation: <input type="number" name="pri1s" value=" value="{{info.form["pri1s"]}}" min="-999", max="999" step="0.01">) <br>
          prior 2: Gaussian (mean: <input type="number" name="pri2m" value=" value="{{info.form["pri2m"]}}" min="-999", max="999" step="0.01">, 
            standard deviation: <input type="number" name="pri2s" value=" value="{{info.form["pri2s"]}}" min="-999", max="999" step="0.01">)
          Hyperparameters: <textarea name="dhyp" cols="70" rows="1">{{info.form["dhyp"]}}</textarea><br>
          <input type="submit" name="f1" value="Start learning >>">
        </form>
      </div>
      <div class="column">
        {% if info.notice %}
        **Form information not complete -- missing: {{info.notice}} <br>
        {% endif %}
      <form action="/reinforce" method="post">
        <h3>Learning results</h3>
        {% if info.agent %}
        <textarea readonly cols="70" rows="15">{{info.process}}</textarea>
        {% endif %}
        <h3>Continue learning or start real task</h3>
        Enter environment name: <input type="text" name="envname" value="{{info.envname}}">
        Select a session to resume learning <select name="session">{% for c in options["sessions"] %}
          {%if c%}<option value="{{c[0]}}"><b>{{c[0]}}</b> ({{c[1]}}): {{c[2]}}</option>{%else%}<option value=""></option>{%endif%}{% endfor %}</select>
        epochs of learning: <input type="number" name="lep">
        <input type="submit" name="resume" value="Continue learning >>"><br><br><b>--Real task rendering and analysis--</b>
          Render mode: <select name="rmode">{% for r in options["rmode"] %}<option value="{{r}}">{{r}}</option>{% endfor %}</select>
          <input type="submit" name="render" value="Start real task >>">
        </form>
        {% if info.real_task %}
        <img src="static/results/reward.png" alt="rewards">
        <img src="static/results/record.png" alt="rewards">
        {% endif %}
      </div>
    </div>
</body>