<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bayesian NN: Reinforcement</title>
    <style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      /* height: 300px; Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    table, th, td {
      border: 0.5px solid black;
    }
    </style>
</head>

<body>
    <h1 style="background-color: lightcyan;">Y6AEN-Bayesian machine learning platform</a></h1>
    <a href="/"><< Supervised learning</a> | <a href="/reinforce"><b>[Reinforcement learning] </b></a>
    <a href="/settings"><button># User preferences</button> </a>
    <div class="row">
    </div>
</body>